.main-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 85%;
    padding: 0px 10px;
}
img{
    width: 40px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}
img:hover{
    box-shadow: 1px 1px 2px black;
}
h2{
    border: 1px solid black ;
    width: 100px;
    padding: 10px 5px;
    background: linear-gradient(to right, hsla(200, 78%, 59%, 0.994) 50%, hsla(146, 81%, 44%, 0.999) 50%);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 5px;
    color: aliceblue;
}
hr{
    box-shadow: 3px 3px 6px hsla(0, 0%, 53%, 0.52);
    border: 1px solid black;
}