body{
  background-image: url(../src/assets/royce-fonseca-48bRZya67Po-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}
