.Offers-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
    gap: 10%;
    padding: 0px 30px;
    margin-bottom: 100px;
}

.Offer{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 3px hsla(0, 0%, 30%, 0.847);
    height: 420px;
    width: 500px;
    padding: 15px 15px ;
    align-items: center;
    background-color: hsla(216, 14%, 93%, 0.848);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;

}
.Offer:hover{
    border: 1px solid rgb(19, 68, 114);
    cursor: pointer;
    box-shadow: 1px 1px 8px black;
}
.title{
    font-weight: bold;
    text-decoration: underline;
    color: hsl(164, 46%, 36%);
}
.description{
    font-size: 0.80rem;
    color: rgba(0, 0, 0, 0.606);
    margin-top: 2%;
}
.price{
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
}
.list{
    list-style:circle;  
}
.list li{
    padding-bottom: 15px;
    color: #000000;
    font-weight: bold; 
}
.Offers-Btn{
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    box-shadow: 1px 1px 1px black;
    margin-top: 10%;
    background-color: cadetblue;
    color: white;
    animation: glow 4s ease-in-out infinite;
}
@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 8px rgba(30, 111, 144, 0.8);
  }
  50% {
    box-shadow: 0 0 16px rgba(30, 112, 144, 0.13);
  }
}
.Offers-Btn:hover{
    box-shadow: 2px 2px 3px black;
    background-color: rgb(13, 44, 80);
}

